<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.views">
  <category
        id="com.rawpixil.eclipse.launchpad"
        name="Launch Pad">
  </category>
  <view
        allowMultiple="false"
        category="com.rawpixil.eclipse.launchpad"
        class="com.rawpixil.eclipse.launchpad.internal.ui.launchpad.LaunchPadView"
        icon="icons/sample.gif"
        id="com.rawpixil.eclipse.launchpad.internal.ui.launchpad.LaunchPadView"
        name="Launch Pad">
  </view>
	</extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<view
         closeable="true"
         id="com.rawpixil.eclipse.launchpad.internal.ui.launchpad.LaunchPadView"
         ratio="0.5"
         relationship="bottom"
         relative="org.eclipse.jdt.ui.PackageExplorer"
         visible="true"/>
		</perspectiveExtension>
	</extension>
 <extension
       point="org.eclipse.help.contexts">
    <contexts
          file="contexts.xml">
    </contexts>
 </extension>
</plugin>
